[project]
	description = The Qt Image Formats repository\n\
\n\
ssh://codereview.qt-project.org:29418/qt/qtimageformats.git
[receive]
	requireContributorAgreement = true
	requireChangeId = true
	allowTopicReview = true
[cherryPick]
	includeReviewedOn = true
[submit]
	action = cherry pick
	mergeContent = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access "refs/heads/release"]
	exclusiveGroupPermissions = stage
	stage = group Qt Release Team
[access "refs/heads/wip/android"]
	exclusiveGroupPermissions = stage
	push = group Android Branch Owners
	label-Code-Review = -2..+2 group Android Branch Owners
	submit = group Android Branch Owners
[access]
	inheritFrom = All-Qt-Projects
